<h2>Добавление нового поста!</h2>
<%= form_for :post, url: posts_path do |f| %>
  <p>
  Название<br>
  <%= f.text_field :title %>
  </p>
  <p>
  Текст статьи<br>
  <%= f.text_area :body %>
  </p>
  <p>
  <%= f.submit %>
  </p>
<% end %>